html {
  font-family: "VW Text", sans-serif;
  font-weight: normal;
  font-style: normal;

  font-size: 18px;

  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "VW Head";
}

* {
  font-family: inherit;
  box-sizing: border-box;
}
