.container {
  width: 95%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  min-height: 100vh;
  font-size: 20px;
  h2 {
    font-size: 32px;
  }
}

.text-highlight {
  color: $color-primary;
}

.hide {
  display: none !important;
}
