.feat-list {
  color: $color-primary;
  background-color: whitesmoke;
  padding-top: 20px;
  padding-bottom: 20px;

  &__container {
    display: flex;
    justify-content: space-between;
  }
}
.feat {
  width: 135px;
  height: 135px;
  padding: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "VW Head";
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: inherit;

  position: relative;
  overflow: hidden;

  svg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  .str0,
  .str1,
  .str2 {
    transform-origin: center center;
    transition-timing-function: ease-out;
  }

  .str0 {
    transition-duration: 0.2s;
  }

  .str1 {
    transition-duration: 0.3s;
    transition-delay: 0.1s;
  }

  .str2 {
    transition-duration: 0.25s;
    transition-delay: 0.2s;
  }

  &:hover {
    .str0 {
      transform: rotate(270deg);
      transition-duration: 0.4s;
    }
    .str1 {
      transform: rotate(390deg);
      transition-duration: 0.6s;
    }
    .str2 {
      transform: rotate(-170deg);
      transition-duration: 0.5s;
    }
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    // background-image: url("../img/circle.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    transition: 0.3s;
  }

  &:hover::before {
    transform: rotate(80deg);
  }

  &--large {
    font-size: 32px;

    &:hover {
      .str0 {
        transform: rotate(390deg);
      }
      .str1 {
        transform: rotate(-170deg);
      }
      .str2 {
        transform: rotate(270deg);
      }
    }
  }
}
