.section-1 {
  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  //   padding-top: 80px;

  &__heading {
    padding-top: 50px;
    .main {
      font-size: 70px;
    }

    &__secondary {
      font-size: 18px;
      font-weight: normal;
      display: inline-block;
      max-width: 200px;
    }

    h2 {
      max-width: 580px;
      font-weight: normal;
      font-size: 28px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .slider {
    flex: 1;
  }

  background-color: #444;
}

.slide {
  background-image: url("../img/painting-3995999_1920.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slick-dots {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex !important;
  justify-content: flex-start;

  button {
    display: none;
  }
  li {
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 17px;
    }
    list-style-type: none;
    &::before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 150px;
      background-color: white;
      transition: 0.1s;
    }

    &.slick-active::before {
      background-color: $color-primary;
    }
  }
}

.slick-list {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.slick-track {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
