.section-4 {
  background-image: url("../img/section-4-bg.png");
  background-position: left center;
  background-color: #000;
  background-size: contain;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;

  // font-size: 22px;
  color: #fff;

  &__container {
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 850px;
  }

  h2 {
    // font-size: 22px;
    text-align: right;
  }

  ul {
    li {
      margin-bottom: 15px;
    }
  }

  .btn-wrap {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
  }
}
