.section-2 {
  background-image: url("../img/section-2-bg.png");
  background-color: black;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: contain;

  color: #fff;
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    align-items: stretch;
    flex: 1;
    gap: 30px;
  }

  .left {
    flex: 8;

    display: flex;
    align-items: center;
    padding-bottom: 100px;
  }

  .right {
    flex: 8;

    display: flex;
    align-items: center;

    .icons {
      display: flex;
      justify-content: center;
      img {
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }

    h3 {
      margin-bottom: 0;
    }

    .btn-wrap {
      display: flex;
      justify-content: flex-end;
      margin-top: 15px;
    }
  }
}

ul {
  list-style: none; /* Remove default bullets */
  margin: 10px 0;
}

ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: $color-primary; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  font-size: 1.2em;
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
