.section-1 {
  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  //   padding-top: 80px;

  &__heading {
    padding-top: 50px;
    .main {
      font-size: 70px;
    }

    &__secondary {
      font-size: 18px;
      font-weight: normal;
      display: inline-block;
      max-width: 200px;
    }

    h2 {
      max-width: 580px;
      font-weight: normal;
      font-size: 28px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .slider {
    flex: 1;
  }

  background-color: #444;
}
